body {
  background-color: #222;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  font-family: "Tungsten";
}

h1,
.frame__title {
  font-size: 2rem;
}

canvas {
  display: block;
  /* position: relative; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%; */
}

.Nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

circle {
  pointer-events: all;
}
